@model IEnumerable<WebIluminaMVC.Model.User>

@{
    ViewBag.Title = "Usuarios";
}


<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
        <h2>Usuarios</h2>

    </header>
    <div>
        <div class="jarviswidget-editbox">
        </div>
        <div class="widget-body">
            <fieldset>

                <div class="row">
                    <div class="col-sm-4">
                        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn bg-color-blueDark txt-color-white" })
                    </div>
                    <div class="col-sm-8">
                    </div>
                </div>
                <br />

                <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>
                            <th>Correo</th>
                            <th>Número Telf.</th>
                            <th>Usuario</th>
                            <th>Activo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.userID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lastname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dni)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.phonenumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.active)
                                </td>
                                <td>
                                    @Html.ActionLink("Modificar", "Edit", new { id = item.userID }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.userID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>

