@model WebIluminaMVC.Model.Notice

@{
    ViewBag.Title = "Create";
}

<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
        <h2>Nueva Noticia</h2>

    </header>
    <div>
        <div class="jarviswidget-editbox">
        </div>
        <div class="widget-body">
            <fieldset>


                @using (Html.BeginForm("Create", "Notices", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.createUser)
                    @Html.HiddenFor(model => model.createDate)
                    @Html.HiddenFor(model => model.updateUser)
                    @Html.HiddenFor(model => model.updateDate)
                    @Html.HiddenFor(model => model.publishDate)
                    @Html.HiddenFor(model => model.imageUrl)

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.publishDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group col-md-4">
                                        <input type="text" name="CtrlPublishDate" placeholder="Seleccionar Fecha" class="form-control datepicker" data-dateformat="dd/mm/yy">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.author, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.author, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.contents, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.contents, 10,45, new { htmlAttributes = new { @class = "form-control " } })
                                @Html.ValidationMessageFor(model => model.contents, "", new { @class = "text-danger" })
                            </div>
                        </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.imageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                                
                                <div class="col-md-10">
                                    <input type="file" class="btn btn-default" name="file" accept="image/x-png,image/gif,image/jpeg">
                                    <p class="help-block">
                                        archivos: .png .gih .jpeg
                                    </p>
                                </div>
                                

                            </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.CheckBoxFor(model => model.active, htmlAttributes: new { @checked = true })
                                @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })

                            </div>
                        </div>



                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Registrar" class="btn bg-color-blueDark txt-color-white" />
                                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn bg-color-blueDark txt-color-white" })
                                    </div>
                                </div>
                            </div>
                        </div>
                }

            </fieldset>
        </div>
    </div>
</div>