@model IEnumerable<WebIluminaMVC.Model.Notice>

@{
    ViewBag.Title = "Index";
}

<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
        <h2>Usuarios</h2>

    </header>
    <div>
        <div class="jarviswidget-editbox">
        </div>
        <div class="widget-body">
            <fieldset>

                <div class="row">
                    <div class="col-sm-4">
                        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn bg-color-blueDark txt-color-white" })
                    </div>
                    <div class="col-sm-8">
                    </div>
                </div>
                <br />

                <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.noticeID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.publishDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.author)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.contents)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.imageUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.active)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.noticeID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.publishDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.contents)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.imageUrl)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.active)
                                </td>
                                <td>
                                    @Html.ActionLink("Modificar", "Edit", new { id = item.noticeID }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.noticeID }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.noticeID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>
