@model WebIluminaMVC.ModelView.SurveyView
@using WebIluminaMVC.Helpers;
@using WebIluminaMVC.Model;
@{
    ViewBag.Title = "Create";
}

<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
        <h2>Nueva Encuesta</h2>

    </header>

        @using (Html.BeginForm())
        {
            <div>
                <div class="jarviswidget-editbox">
                </div>
                <div class="widget-body">
                    <fieldset>


                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.survey.createUser)
                        @Html.HiddenFor(model => model.survey.createDate)
                        @Html.HiddenFor(model => model.survey.updateUser)
                        @Html.HiddenFor(model => model.survey.updateDate)
                        <input type="hidden" name="SurveyID" value="@Model.survey.surveyID" />
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.survey.name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.survey.name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.survey.name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.survey.dateTo, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="input-group col-md-4">
                                            <input type="text" name="CtrlDateFrom" placeholder="Seleccionar Fecha" class="form-control datepicker" data-dateformat="dd/mm/yy" value="@Formats.DateFormatShort(Model.survey.dateFrom)">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.survey.dateTo, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="input-group col-md-4">
                                            <input type="text" name="CtrlDateTo" placeholder="Seleccionar Fecha" class="form-control datepicker" data-dateformat="dd/mm/yy" value="@Formats.DateFormatShort(Model.survey.dateTo)">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.survey.active, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.survey.active)
                                        @Html.ValidationMessageFor(model => model.survey.active, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">

                                    @if (Model.survey.surveyID == 0)
                                    {
                                        <input type="submit" name="Command" value="Registrar" class="btn bg-color-blueDark txt-color-white" />
                                    }
                                    else
                                    {
                                        <a data-toggle="modal" href="#mySurveyDetail" class="btn btn-danger txt-color-white" onclick="ModalClear()"><i class="fa fa-circle-arrow-up"></i> Agregar Preguntas</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                

                @if (Model.surveyDetailList.Count > 0)
                {

                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                        <div>
                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body no-padding">

                                <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.surveyDetail.surveyDetailID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.surveyDetail.name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.surveyDetail.type)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.surveyDetail.active)
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.surveyDetailList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.surveyDetailID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.type)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.active)
                                                </td>
                                                <td>
                                                    <a data-toggle="modal" href="#mySurveyDetail" class="" onclick="getSurveyDetail(@item.surveyDetailID)"><i></i>Modificar</a> |
                                                  
                                                    @Html.ActionLink("Eliminar", "DeleteDetail", new { id = item.surveyDetailID })
                                                   
                                                </td>
                                            </tr>                                            
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                }

            </div>


            <div class="modal fade" id="mySurveyDetail" tabindex="-1" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">
                                                <img src="@Settings.CurrentLogo" width="150" alt="SmartAdmin">
                                            </h4>
                                        </div>
                                        <div class="modal-body no-padding">

                                            <form id="login-form" class="smart-form">
                                                <fieldset>
                                                    <section>
                                                        <br />
                                                        @Html.HiddenFor(model => model.surveyDetail.surveyDetailID)
                                                        @Html.HiddenFor(model => model.surveyDetail.surveyID)
                                                        @Html.HiddenFor(model => model.surveyDetail.type)
                                                        @Html.HiddenFor(model => model.surveyDetail.option1)
                                                        @Html.HiddenFor(model => model.surveyDetail.option2)
                                                        @Html.HiddenFor(model => model.surveyDetail.option3)
                                                        @Html.HiddenFor(model => model.surveyDetail.option4)
                                                        @Html.HiddenFor(model => model.surveyDetail.option5)
                                                        @Html.HiddenFor(model => model.surveyDetail.option6)

                                                        <input type="hidden" name="HDSurveyDetailID" id="HDSurveyDetailID"/>
                                                        <div class="form-horizontal">
                                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.surveyDetail.name, htmlAttributes: new { @class = "control-label col-md-2" })
                                                                <div class="col-md-9">
                                                                    <input name="surveyDetail_name" type="text" class="form-control" id="surveyDetail_name" />                                                                    
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.surveyDetail.type, htmlAttributes: new { @class = "control-label col-md-2" })

                                                                <div class="form-group">

                                                                    <div class="col-md-3">

                                                                        <select class="form-control" id="typeDetail" name="typeDetail">
                                                                            <option>Único</option>
                                                                            <option>Múltiple</option>
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                @Html.Label("Opción 1 ", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                <div class="col-md-9">
                                                                    <input name="option1" type="text" class="form-control" id="option1"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.Label("Opción 2 ", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                <div class="col-md-9">
                                                                    <input name="option2" type="text" class="form-control" id="option2"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.Label("Opción 3 ", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                <div class="col-md-9">
                                                                    <input name="option3" type="text" class="form-control" id="option3"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.Label("Opción 4 ", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                <div class="col-md-9">
                                                                    <input name="option4" type="text" class="form-control" id="option4"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.Label("Opción 5 ", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                <div class="col-md-9">
                                                                    <input name="option5" type="text" class="form-control" id="option5"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.Label("Opción 6 ", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                <div class="col-md-9">
                                                                    <input name="option6" type="text" class="form-control" id="option6"/>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-offset-2 col-md-10">
                                                                        <input type="submit" value="Registrar" class="btn bg-color-blueDark txt-color-white" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </section>
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                            }
                        </div>


<script type="text/javascript">

    function getSurveyDetail(id)
    {
        $.ajax({
            type: "GET",       // make it get request instead //
            url: '@Url.Action("getSurveyDetail", "Surveys")',
            data: { surveyDetailID: id },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                debugger;
                var strOption = "";
                var i = 1;
                $.each(data, function (index, item) {

                   strOption = "option" + i;                    
                    if (i > 6) {
                        if (i == 7)
                        {
                            document.getElementById('surveyDetail_name').value = item;
                        }
                        if (i == 8) {
                            document.getElementById('typeDetail').value = item;
                        }
                        if (i == 9)
                        {
                            document.getElementById('HDSurveyDetailID').value = item;
                        }
                    }
                    else {
                        document.getElementById(strOption).value = item;
                    }
                    i++;
                });
            },
            error: function (data) {
                debugger;
                alert(data);
            }
        });

    }

    function ModalClear()
    {
        var strOption = "";
        for (i = 1; i < 7; i++)
        {
            strOption = "option" + i;
            document.getElementById(strOption).value =null;
        }
        document.getElementById('surveyDetail_name').value = null;
        document.getElementById('typeDetail').value = "Único";
    }

</script>
